<div class="row intestazione">
    <h3>CLASSI</h3>
</div>


<div class="row ">
    <button class="pull-right btn btn-default" data-toggle="modal" data-target="#aggiungiClasse">Aggiungi</button>
</div>

 <div class="row piani-list">
    <div class="col-xs-12 appendi">
    <% @classi.each do |des| %>
         <div id="id-<%= des.id %>" class="row piano-element">
                        <div id="name-<%= des.nome %>"><%= des.nome %><span class="info-tipo"> -- <%= Classe.getPiano(des).nome %> -- </span></div>
                       <i class="fa fa-trash-o" onclick="deleteClasse(<%= des.id %>)"></i>
                       <i class="fa fa-info-circle" onclick="getInfo(<%= des.id %>)"></i>
        </div>
    <% end %>
  </div>
</div>

<div id="aggiungiClasse" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Aggiungi classe</h4>
      </div>
      <div class="modal-body">
        <form id="ajax-form" action="/admin/classi/aggiungi" method="post">
        <div class="form-group">
            <label >Nome classe</label>
            <input type="text" name="nome" class="form-control"  placeholder="Immetti il nome della classe">
          </div>
           <div class="form-group">
              <label >Piano formativo</label>
              <select name="piano" class='form-control'>
                 <option value="" disabled="disabled" selected="selected">Seleziona un piano formativo</option>
                 <% @piani.each do |des| %>
                      <option value='<%= des.id %>'  ><%= des.nome %></option>
                  <% end %>
              </select>
          </div>
          <div class="form-group">
            <label>Immagine orario</label>
                <%= file_field(:images, :image,  :multiple => true, accept: 'image/png,image/gif,image/jpeg') %></p>
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" >Aggiungi</button>
      </div>
       </form>
    </div>
  </div>
</div>

<div id="showOrario"class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Orario</h4>
      </div>
      <div class="modal-body">
        <img id="spazio-img" class="info-img"src"" />
      </div>
      <div class="modal-footer">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/js/jquery-ajax-form.js"></script>
<script>

     $(document).ready(function() {
            // bind 'myForm' and provide a simple callback function
            $('#ajax-form').ajaxForm(function(data) {

                  var html = '<div id="id-' + data.id + '" class="row piano-element">'+
                                    '<div id="name-' + data.nome + '">' + data.nome + '<span class="info-tipo"> --' + $('select[name="piano"] option:selected').text() + '-- </span></div>' +
                                    '<i class="fa fa-trash-o" onclick="deleteClasse(' + data.id + ' )"></i>' +
                                    '<i class="fa fa-info-circle" onclick="getInfo(' + data.id + ')"></i>'
                                    '</div>';
                $('.appendi').append(html);
                $('input[name="nome"]').val('')
                $('select[name="piano"]').val('')
                $('#images_image').val('')

                console.log(data)
                $('#aggiungiClasse').modal('hide')
            });
        });

     function getInfo(id){
        $.ajax({
                  url: '/admin/getInfoClassi',
                  type: 'POST',
                  data: {id: id},
                  success: function(data) {

                    $('#spazio-img').attr('src', '/data/classi/' + data.orario)
                    $('#showOrario').modal('show')
                  }
          });
    }

    function deleteClasse(id){

    $.ajax({
              url: '/admin/eliminaClasse',
              type: 'POST',
              data: {id: id},
              success: function(data) {
                    $('#id-' + id).fadeOut();
              }
            });

}
</script>
