<div class="row intestazione">
    <h3>CLASSI</h3>
</div>


<div class="row ">
    <button class="pull-right btn btn-default" data-toggle="modal" data-target="#aggiungiClasse">Aggiungi</button>
</div>

 <div class="row piani-list">
    <div class="col-xs-12 appendi">
    <% @classi.each do |des| %>
         <div id="id-<%= des.id %>" class="row piano-element">
                        <div id="name-<%= des.nome %>"><a href="/data/materale/<%= des.file %>" target="_blank"><%= des.nome %></a> <span class="info-tipo"> -- <%= des.tipo %> -- </span></div>
                       <i class="fa fa-trash-o" onclick="deleteMateriale(<%= des.id %>)"></i>
        </div>
    <% end %>
  </div>
</div>

<div id="aggiungiClasse" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Aggiungi classe</h4>
      </div>
      <div class="modal-body">
        <form id="ajax-form" action="/admin/materiale/upload" method="post">
        <div class="form-group">
            <label >Nome classe</label>
            <input type="text" name="nome" class="form-control"  placeholder="Immetti il nome della classe">
          </div>
           <div class="form-group">
              <label >Piano formativo</label>
              <select name="piano" class='form-control'>
                 <option value="" disabled="disabled" selected="selected">Seleziona un piano formativo</option>
                 <% @piani.each do |des| %>
                      <option value='<%= des.id %>'  ><%= des.nome %></option>
                  <% end %>
              </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit">Import Data</button>
      </div>
       </form>
    </div>
  </div>
</div>
