<div class="row intestazione">
    <h3>EVENTI</h3>
</div>

<div class="row ">
    <a href="/admin/eventiAdd" class="pull-right btn btn-default">Aggiungi</a>
</div>

 <div class="row piani-list">
    <% @eventi.each do |des| %>
         <div id="id-<%= des.id %>" class="row piano-element">
                        <div id="name-<%= des.nome %>"><%= des.nome %> <span class="info-tipo"> -- <%= des.data %> -- </span></div>
                       <i class="fa fa-trash-o" onclick="deleteEvento(<%= des.id %>)"></i>
                       <i class="fa fa-pencil-square-o" onclick="editEvento(<%= des.id %>)"></i>
                       <i class="fa fa-info-circle" onclick="getInfo(<%= des.id %>)"></i>
        </div>
    <% end %>
</div>


<div id="infoEvento" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Info Evento</h4>
      </div>
      <div class="modal-body">
        <div class="row">
             <label>Descrizione</label>
             <p id="spazio-bio"></p>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
function deleteEvento(id){

    $.ajax({
              url: '/admin/eliminaEvento',
              type: 'POST',
              data: {id: id},
              success: function(data) {
                    $('#id-' + id).fadeOut();
              }
            });

}

function getInfo(id){

    $.ajax({
              url: '/admin/getInfoEvento',
              type: 'POST',
              data: {id: id},
              success: function(data) {
                $('#spazio-bio').html(data.descrizione)
                $('#infoEvento').modal('show')
              }
            });

}

function editEvento(id){
    window.location.href = "/admin/eventiEdit/" + id
}

</script>
