<div class="row intestazione">
    <h3>GESTIONE FILE DEL CORSO <br> <%= @corso.nome %> </h3>
</div>


<div class="row ">
    <button class="pull-right btn btn-default" data-toggle="modal" data-target="#UploadFile">Upload</button>
</div>

 <div class="row piani-list">
    <div class="col-xs-12 appendi">
    <% @materiale.each do |des| %>
         <div id="id-<%= des.id %>" class="row piano-element">
                        <div id="name-<%= des.nome %>"><a href="/data/materale/<%= des.file %>" target="_blank"><%= des.nome %></a> <span class="info-tipo"> -- <%= des.tipo %> -- </span></div>
                       <i class="fa fa-trash-o" onclick="deleteMateriale(<%= des.id %>)"></i>
        </div>
    <% end %>
  </div>
</div>

<div id="UploadFile" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Upload file</h4>
      </div>
      <div class="modal-body">
        <form id="ajax-form" action="/admin/materiale/upload" method="post">
        <div class="form-group">
            <label >Nome file</label>
            <input type="text" name="nome" class="form-control"  placeholder="Immetti il nome del tipo di corso">
          </div>
           <div class="form-group">
              <label >Tipologia</label>
              <input type="text" name="tipo" class="form-control"  placeholder="Immetti il tipo (slide, libro ecc...)">
          </div>
           <div class="form-group">
            <label>File (Solo PDF)</label>
                <%= file_field(:files, :file,  :multiple => true, accept: 'application/pdf') %></p>
            </div>
            <input type="hidden" value="<%= @corso.id %>" name="corso" />
      </div>
      <div class="modal-footer">
        <button type="submit">Import Data</button>
      </div>
       </form>
    </div>
  </div>
</div>

<script src="/js/jquery-ajax-form.js"></script>
<script>

     $(document).ready(function() {
            // bind 'myForm' and provide a simple callback function
            $('#ajax-form').ajaxForm(function(data) {
                console.log(data);
                var html = '<div id="id-' + data.id + '" class="row piano-element">'+
                                  '<div id="name-' + data.nome + '"><a href="/data/materale/' + data.file + '" target="_blank">' + data.nome + '</a> ' +  '<span class="info-tipo"> --' + data.tipo + '-- </span></div>' +
                                  '<i class="fa fa-trash-o" onclick="deleteMateriale(' + data.id + ' )"></i>' +
                                  '</div>';
                $('.appendi').append(html);
                $('input[name="nome"]').val('')
                $('input[name="tipo"]').val('')
                $('#files_file').val('')
                $('#UploadFile').modal('hide')
            });
        });

     function deleteMateriale(id){

    $.ajax({
              url: '/admin/eliminaMateriale',
              type: 'POST',
              data: {id: id},
              success: function(data) {
                    $('#id-' + id).fadeOut();
              }
            });

}

</script>
