<div class="row contenitore-statico" >
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
  <h1 class="titolo-sez-din"><%= @classe.nome %></h1>
    <div >
              <div  id="pianiDin">
                    <h4 class='subtitle-sez-din'> CORSI ATTIVI </h4>
                    <% @corsi.each do |des| %>
                          <div class="row piccolo">
                                <a href="/dettaglioCorso/<%= des.id %>"><i class="fa fa-arrow-right"></i> <%= des.nome %>, <%= Corso.getClasse(des).nome %></a>
                          </div>
                    <% end %>

                  <h4 class='subtitle-sez-din'> ORARIO </h4>
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-6">
                    <img class='info-img' src="/data/classi/<%= @classe.orario %>">
                  </div>
                  <div class="col-sm-3">
                  </div>
                </div>
            </div>
  </div>
  <div class="col-sm-1"></div>
</div>
