<!DOCTYPE html>
<html>
<head>
  <title>DigitalSchool</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application' %>
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
  <script  src="/js/jquery-1.11.1.min.js" ></script>
  <script  src="/js/bootstrap.js" ></script>
  <script  src="/js/owl.carousel.js" ></script>
  <%= csrf_meta_tags %>
</head>

<body class="front-end">

    <!-- HEADER  -->
    <div id='cssmenu' class='align-right' style="margin-top: 50px;">
    <ul>
       <li class='has-sub'><a href='#'><span>Informazioni</span></a>
          <ul>
             <li><a href='/doveSiamo'><span>Dove siamo / Contatti</span></a></li>
             <li><a href='/history'><span>Storia</span></a></li>
             <li><a href='/support'><span>Supporto</span></a></li>
             <li><a href='/successi'><span>Successi</span></a></li>
             <li><a href='/principles'><span>Principi</span></a></li>
             <li><a href='/rules'><span>Regole</span></a></li>
             <li><a href='/ufficio_scuola'><span>Information Bureau</span></a></li>
             <li class='last'><a href='/admission'><span>Ammissione</span></a></li>
          </ul>
       </li>
        <li class='has-sub'><a href='#'><span>Genitori</span></a>
          <ul>
             <li><a href='/rappr_genitori'><span>Rappresentanti</span></a></li>
             <li class='last'><a href='/comitati'><span>Comitato</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Classi</span></a>
          <ul>
             <li><a href='/classi/all'><span>Tutte</span></a></li>
             <li class='has-sub last'><a href='#'><span>Per Piano formativo</span></a>
              <ul>
                  <% @piani.each do |des| %>
                      <li><a href='/classi/<%= des.id %>'><span><%= des.nome %></span></a></li>
                 <% end %>
              </ul>
             </li>
          </ul>
       </li>
       <li class='has-sub'><a href='#'><span>Corsi</span></a>
          <ul>
             <li><a href='/corsi/all'><span>Tutti</span></a></li>
             <li class='has-sub last'><a href='#'><span>Per Piano formativo</span></a>
              <ul>
                  <% @piani.each do |des| %>
                      <li><a href='/corsi/<%= des.id %>'><span><%= des.nome %></span></a></li>
                 <% end %>
              </ul>
             </li>
          </ul>
      </li>
       <li><a href='/eventi'><span>Eventi</span></a></li>
       <li><a href='/insegnanti'><span>Insegnanti</span></a></li>
       <li class='has-sub'><a href='#'><span>Strutture</span></a>
          <ul>
             <li><a href='/struttureInterne'><span>Interne</span></a></li>
             <li class='last'><a href='/struttureEsterne'><span>Esterne</span></a></li>
            </ul>
       </li>
       <li class='last'><a href='/pianiFormativi'><span>Piani Formativi</span></a></li>
    </ul>
    </div>


    <a href="/"><img id="logo" src="/img/logo.png" ></a>


<%= yield %>

</body>
</html>
